<!doctype html>
<html lang="en">
  <head>
    <title>Netlify Functions Examples</title>
<!--Origin font <link href="https://fonts.loli.net/css?family=Source+Sans+Pro:400,500" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic:400,500" rel="stylesheet">
    <link href="/normalize.css" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
  </head>
  <body>
    <h1>Netlify Functions Examples</h1>
    <p>
      嗨,您好!这是一个试验场
      <a href="https://www.netlify.com/docs/functions">Netlify Lambda 函数</a>.
    </p>
    <p>
      您可以在 
      <a href="https://github.com/imorente/netlify-functions-example">GitHub</a> 浏览该网站的代码,
     或自己动手编译代码
      <a href="https://app.netlify.com/start/deploy?repository=https://github.com/ocsp/netlify-functions-example">
      在 Netlify 上部署一个副本</a>.
    </p>
    <article>
      <h2>Hello, World!</h2>
      <p>不可避免的 Hello World 示例。</p>
      <pre class="language-js"><code><%= require('html-loader!./lambda/hello.js') %></code></pre>
      <h3>Try it out</h3>
      <p><a href="/.netlify/functions/hello">Say hello!</a></p>
    </article>

    <article>
      <h2>Hello, World! (async version)</h2>
      <p>
        Hello World 示例可以通过使用一些异步语法来变得更好。
         使用异步，我们可以返回响应而不是处理回调。
      </p>
      <pre class="language-js"><code><%= require('html-loader!./lambda/hello_async.js') %></code></pre>
      <h3>Try it out</h3>
      <p><a href="/.netlify/functions/hello_async">Say hello!</a></p>
    </article>

    <article>
      <h2>Hello, {name}</h2>
      <p>
       使用可选的自定义称呼 Lambda 函数的问候语
        <code>name</code> parameter.
      </p>
      <pre class="language-js"><code><%= require('html-loader!./lambda/hello_name.js') %></code></pre>
      <h3>Try it out</h3>
      <form action="/.netlify/functions/hello_name">
        <p>
          <label>你的名字?<br/><input type="text" name="name"></label>
        </p>
        <p><button type="submit">Say hello!</button></p>
      </form>
    </article>

    <article>
      <h2>Hello, {name} (POST version)</h2>
      <p>确保我们只处理自定义问候语的 POST 请求。</p>
      <pre class="language-js"><code><%= require('html-loader!./lambda/hello_name_post.js') %></code></pre>
      <h3>Try it out</h3>
      <form action="/.netlify/functions/hello_name_post" method="POST">
        <p>
          <label>你的名字?<br/><input type="text" name="name"></label>
        </p>
        <p><button type="submit">Say hello!</button></p>
      </form>
      <p><a href="/.netlify/functions/hello_name_post?name=Me">Show me the error</a></p>
    </article>

    <article>
      <h2>读取环境变量</h2>
      <p>
        在 Web 应用程序中,存储诸如 API 令牌之类的秘密可能很棘手.
         Lambda 和环境变量可不是这样!
      </p>
      <p>
       举个例子,我正在用
        <a href="https://www.npmjs.com/package/dotenv">dotenv</a>
        于本地定义环境变量（在实际项目中，我不会
         将该文件提交到存储库）,并定义相同的变量
         在 Netlify 网站仪表板下
        Settings > Build & deploy > Build environment variables, for production.
      </p>
      <p>
       注意:在部署时,环境变量已纳入函数时间,因此您需要在更改它们后触发新的部署.
      </p>
      <pre class="language-js"><code><%= require('html-loader!./lambda/hello_env.js') %></code></pre>
      <h3>Try it out</h3>
      <p>
        <a href="/.netlify/functions/hello_env">Show me the environment variable</a>
      </p>
    </article>

    <article>
      <h2>Fetch</h2>
      <p>I see you like APIs! I’ll put an API in your API so you can API while you API.</p>
      <pre class="language-js"><code><%= require('html-loader!./lambda/hello_fetch.js') %></code></pre>
      <h3>Try it out</h3>
      <p>
        <a href="/.netlify/functions/hello_fetch">Tell me a joke!</a>
      </p>
    </article>

    <article>
      <h2>Send a Slack message</h2>
      <p>
        Putting it all together: send a message to a Slack channel.
      </p>
      <p>
        You’ll need a <a href="https://slack.com">Slack</a> account to replicate
        this example on your own site (if you don’t already have a Slack account,
        you can <a href="https://slack.com/get-started">create one</a> for free).
      </p>
      <ol>
        <li>
          <p>
            Create a Slack incoming webhook at
            <a href="https://my.slack.com/services/new/incoming-webhook/">
              https://my.slack.com/services/new/incoming-webhook/
            </a>
          </p>
        </li>
        <li>
          <p>
            To test the function locally, add the Slack webhook URL to the .env
            file in the root folder of your repository.
          </p>
          <pre class="language-bash"><code>SLACK_WEBHOOK_URL=https://hooks.slack.com/services/XXXXXXXXXX</code></pre>
        </li>
        <li>
          <p>
            To test the function in your deployed site, sign in to your
            <a href="https://app.netlify.com">Netlify dashboard</a>,
            add the environment variable to your site’s
            Settings > Build & Deploy > Build environment variables, and trigger
            a new deploy.
          </p>
        </li>
      </ol>
      <pre class="language-js"><code><%= require('html-loader!./lambda/hello_slack.js') %></code></pre>
      <h3>Try it out</h3>
      <form action="/.netlify/functions/hello_slack" method="POST">
        <p>
          <label>What’s your name?<br/><input type="text" name="name"></label>
        </p>
        <p><button type="submit">Say hello!</button></p>
      </form>
    </article>

    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.14.0/prism.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
